{
	"useTabs": true,
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "es5",
	"jsxBracketSameLine": false,
	"htmlWhitespaceSensitivity": "strict",
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": "*.html",
			"options": {
				"parser": "angular"
			}
		},
		{
			"files": "*.scss",
			"options": {
				"parser": "css"
			}
		}
	]
}
